*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    max-height: 600px;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
.btn{
    background-color: white;
    margin: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
}
.header-background{
    margin-bottom: 50px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    margin: auto;
    padding: 0;
    max-width: 900px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.header-title{
    margin: 0;
    color: black;
    font-size: 48px;
    font-weight: bolder;
}
.header-p{
    color:  #0D1321;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    color: white;
    background: black;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px; 
}
.titles{
    width: 900px;
    text-align: center;
}
.Developer{
    margin: 20px 250px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21123005;
    border-radius: 15px;
}
.Developer-sect{
    width: 800px;
    margin: 20px 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #eae7e7fa;
    border-radius: 15px;
}
.dts{
    color: #0D1321;
    font-size: 17px;
    font-weight: 400;
}
.d-heading{
    color: black;
    font-size: 24px;
    font-weight: 600;
}
.btn-2{
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
}
.d-title{
    color: rgb(25, 37, 67);
    font-size: 32px;
    font-weight: 800;
}
.d-dcprtn{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;  
}
.Inspiration{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30;
    margin: 30px;
    padding: 0px;
    text-align: center;
}
.inspire{
    width: 850px;
    margin-bottom: 40px;
}
.iframe{
    border-radius: 10px;
}
.video{
    margin: auto;
    padding: 25px;
    box-shadow: #0D1321;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;
}
.Target{
    margin: auto;
    max-width: 950px;
}
.t-header{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.content{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;align-items: center;
    gap: 10px;
}
.anchor{
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
.card{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.content-1{
    background-color: rgb(253, 218, 244);
}
.content-2{
    background-color: rgb(254, 241, 226);
}
.content-3{
    background-color: rgb(214, 248, 248);
}
.foot{
    margin: auto;;
    max-width: 1000px;
    background: url(../images/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    gap: 30px;
}
.footer{
    margin-top: auto;

}
.f-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
.f-descrb{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400; 
}
.input-txt{
    padding: 15px;
    width: calc(100% - 170px);
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
}
.newsletter .btn-2{
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.t-center{
    text-align: center;
}

