
*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    max-height: 600px;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
.btn{
    background-color: white;
    margin: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
}
.header-background{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    margin: auto;
    padding: 0;
    max-width: 900px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.header-title{
    margin: 0px;
    color: black;
    font-size: 48px;
    font-weight: bolder;
}
.header-p{
    color:  #0D1321;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    color: white;
    background: black;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px; 
}